<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hospital</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">852456</property>
        <property name="show_sql">true</property>
        <mapping class="com.sda.entities.AffiliatedWith"/>
        <mapping class="com.sda.entities.Appointment"/>
        <mapping class="com.sda.entities.Block"/>
        <mapping class="com.sda.entities.Department"/>
        <mapping class="com.sda.entities.Medication"/>
        <mapping class="com.sda.entities.Nurse"/>
        <mapping class="com.sda.entities.OnCall"/>
        <mapping class="com.sda.entities.Physician"/>
        <mapping class="com.sda.dao.PhysicianDao"/>

    </session-factory>
</hibernate-configuration>